---
import config from "../../gitprofile.config";
import { Icon } from "astro-preload/components";

const icon_size = 24;
---

<div class="card">
  <article class="profile">
    <img
      src="/assets/favicons/apple-icon.png"
      width={128}
      height={128}
      alt="Profile picture"
    />
    <h1>{config.social.name}</h1>
  </article>
  <article class="data">
    <a href={`https://github.com/${config.github.username}`}>
      <Icon name="mdi:github" size={icon_size} /><span
        >{config.github.username}</span
      >
    </a>
    <a href={`mailto:${config.social.email}`}>
      <Icon name="material-symbols:mail" size={icon_size} /><span
        >{config.social.email}</span
      >
    </a>
  </article>
</div>

<style>
  @import "../styles/main.css";
  
  .card {
    display: grid;
  }
  
  @media (--screen-desktop) {
    .card {
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }
  }

  .profile {
    display: grid;
    justify-items: center;
    color: var(--text-color);
    padding-bottom: calc(var(--card-padding) + 1rem);
  }

  img {
  }

  .data {
    display: grid;
    align-content: space-evenly;
    padding-left: calc(var(--card-padding) + 0.25rem);
    padding-right: calc(var(--card-padding) + 0.25rem);
  }

  .data > a {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);

    color: var(--text-color);
    opacity: 0.6;
    font-size: var(--text-sm);
    text-decoration: none;

    transition: opacity 0.15s ease-in-out;
  }

  .data > a:hover {
    opacity: 0.75;
  }

  h1 {
    min-width: max-content;
    font-size: var(--text-title);
    font-weight: 600;
    opacity: 0.85;
  }
</style>
