---
import config from "../../gitprofile.config";
import { Icon } from "astro-preload/components";

const icon_size = 24;
---

<div class="card">
  <article class="profile">
    <img
      src="/assets/favicons/apple-icon-small.webp"
      width={128}
      height={128}
      alt="Profile picture"
    />
    <h1>{config.social.name}</h1>
  </article>
  <article class="data">
    <a href={`https://github.com/${config.github.username}`}>
      <Icon name="mdi:github" size={icon_size} />
      <span>{config.github.username}</span>
    </a>
    <a href={`mailto:${config.social.email}`}>
      <Icon name="material-symbols:mail" size={icon_size} />
      <span>{config.social.email}</span>
    </a>
  </article>
</div>

<style>
  @import "../styles/main.css";

  .card {
    display: grid;
  }

  @media (--screen-desktop) {
    .card {
      grid-template-columns: 1fr 1fr;
      grid-column: span 2;
    }
  }

  .profile {
    display: grid;
    justify-items: center;
    color: var(--text-color);
    padding-bottom: var(--card-padding-bottom);
  }

  .data {
    display: grid;
    align-content: space-evenly;
    padding-left: var(--card-container-padding);
    padding-right: var(--card-container-padding);
  }

  .data > a {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    padding: var(--card-padding);

    font-size: var(--text-sm);
    text-decoration: none;
  }

  .data > a > * {
    opacity: 0.6;
    transition: opacity 0.15s ease-in-out;
  }

  .data > a:hover > * {
    opacity: 0.75;
  }

  article > h1 {
    min-width: max-content;
    font-size: calc(var(--text-title) + 0.25rem);
    font-weight: 700;
    opacity: 0.85;
  }
</style>
